*{
    color: #fff !important;
}

.dark-blue{
    background-color: #293241 !important;
}
.grey-blue{
    background-color: #39464e !important;
}
.light-blue{
    background-color: #98c1d9 !important;
    color: #39464e !important;
}

.grey{
    background-color: #3e4146 !important;
}