body{
    margin: 0;
}

.contact-img{
    padding: 0px 0px;
    height: 2.5vh;
    width:auto;
}


div.icon-row{
    padding-top: 15px !important;
 
}

.compact{
    padding: 0px !important;
    border: 0px !important;
    margin: 0px !important;
}

div.card-action{
    padding: 10px 10px !important;
}

p.compact{
    padding-bottom: 10px;
}

img.compact{
    padding-left: 0px !important;
    padding-bottom : 0px !important;
}

.has-applied{
    background-color: grey !important;
}