*{
  color: #fff;
}

nav ul a,
nav .brand-logo {
  color: #444;
}
.nav-wrappercontainer {
  background-color: #39464e !important;
}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #6580ac;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Login screen */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.input-field input[type="date"]:focus + label,
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: #e91e63;
}

.input-field input[type="date"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}


.dark-blue{
  background-color: #293241 !important;
}
.grey-blue{
  background-color: #39464e !important;
}
.light-blue{
  background-color: #98c1d9 !important;
  color: #39464e !important;
}

.grey{
  background-color: #3e4146 !important;
}